
<p>
  First Name: <%= @kid.first_name %>
</p>
<p>
  Birthday: <%= @kid.birthday %>
</p>
<p> 
  Gender: <%if @kid.gender%>
    <%= "Boy" %>
  <%else%>
    <%= "Girl" %>
  <%end%>
</p>


<p><%= image_tag @kid.photo.to_s ,:style=> "height :100px"%></p>

<%= link_to "Back" ,kids_path, :class => "btn btn-primary"%>